@tailwind base;

@tailwind components;

@tailwind utilities;

@layer base {
  html {
    @apply font-plus-jakarta-sans bg-noble-black-700 text-noble-black-400;
  }

  input::-ms-reveal {
    display: none;
  }
}

@layer components {
  .btn--primary {
    @apply bg-stem-green-500 hover:bg-stem-green-400 active:bg-stem-green-300
     text-day-blue-900;
  }
  .btn--secondary {
    @apply bg-transparent relative before:border-solid
    before:content-[''] before:border-4 before:absolute before:top-0 before:bottom-0 before:left-0 before:right-0
    before:border-stem-green-500 hover:before:border-stem-green-400 active:before:border-stem-green-300
    text-stem-green-500 hover:text-stem-green-400 active:text-stem-green-300;
  }
  .btn--tertiary {
    @apply bg-noble-black-600 hover:bg-noble-black-500 active:bg-noble-black-400
     text-noble-black-300 hover:text-noble-black-200 active:text-noble-black-100;
  }
  .btn--ghost {
    @apply bg-transparent
    text-noble-black-400 hover:text-noble-black-300 active:text-noble-black-200;
  }
  .btn--glass {
    @apply bg-glass-fill shadow-glass-effects
    text-noble-black-300 hover:text-noble-black-200 active:text-noble-black-100;
  }
  .btn--large {
    @apply h-12 px-6 text-body-l-semibold rounded-xl before:rounded-xl;
  }
  .btn--medium {
    @apply h-10 px-4 text-body-m-semibold rounded-[10px] before:rounded-[10px];
  }
  .btn--small {
    @apply h-8 px-3 text-body-s-semibold rounded-lg before:rounded-lg;
  }

  .icon--large {
    @apply h-6 w-6;
  }
  .icon--medium {
    @apply h-5 w-5;
  }
  .icon--small {
    @apply h-4 w-4;
  }

  .icon--bold {
    @apply [&_path]:stroke-[4px];
  }
  .btn-icon {
    @apply px-0;
  }
  .btn-icon.btn--large {
    @apply w-12;
  }
  .btn-icon.btn--medium {
    @apply w-10;
  }
  .btn-icon.btn--small {
    @apply w-8;
  }

  .input--default {
    @apply bg-noble-black-500 focus-within:bg-green-blue-day-blue-500 p-[2px]
        focus-within:!shadow-outline-heisenberg-blue
        hover:shadow-outline-noble-black;
  }

  .input--error {
    @apply bg-red-power-600 p-[2px]
        hover:shadow-outline-red-power;
  }

  .input--warning {
    @apply bg-happy-orange-600 p-[2px]
        hover:shadow-outline-happy-orange;
  }

  .input--success {
    @apply bg-electric-green-600 p-[2px]
        hover:shadow-outline-eletric-green;
  }
}
